wp-admin
alljsons
wp-content/themes
wp-content/et-cache
wp-content/upgrade
wp-content/uploads
wp-includes
wp-content/plugins/duplicate-page
wp-content/plugins/elementor
wp-content/plugins/woocommerce
s